.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: nome;
    color: #333;
}

.header .logo{
    max-height: 64px;
}

.header .title-group{
    padding-left: 50px;
}

.header .title-group i {
    padding-right: 50px;
}

